<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JeeAWattVis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JeeAWattVis.Properties.Settings>
            <setting name="AmpFactor" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="AmpBase" serializeAs="String">
                <value>484</value>
            </setting>
            <setting name="VoltBase" serializeAs="String">
                <value>356</value>
            </setting>
            <setting name="PointLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VoltFactor" serializeAs="String">
                <value>0.640</value>
            </setting>
        </JeeAWattVis.Properties.Settings>
    </userSettings>
</configuration>